# Local backend (umisf-server running locally)
# REACT_APP_API_URL=http://localhost:3001/api

# Production backend (Vercel)
REACT_APP_API_URL=https://mora-badminton.vercel.app/api

# When backend is busy/down, show this Google Form link.
REACT_APP_REG_FALLBACK_GOOGLE_FORM=https://docs.google.com/forms/d/e/1FAIpQLSfd-x3NrpXL-w0yw7Fatxi9gGgNF6WBSncI-FybkAPdQo4b6w/viewform?usp=header
