.page {
  width: 100%;
  height: 100vh;
}

.header {
  height: 27%;
  background-color: #d7d8ed;
}


.body {
  height: 73%;
  background-color: #0c0744;
  display: flex;
  flex-direction: row;
}

.umisf-logo {
  height: 60%;
  margin-left: 45%;
}


.header-line-container {
  display: flex;
  flex-direction: row;
}

.header-line {
  font-size: 2.5vw;
  letter-spacing: 5px;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
}

.details {
  margin-left: 2%;
  width: 37%;
}

.score-board {
  width: 59%;
}

.player-container {
  height: 40%;
  display: flex;
  flex-direction: row;
}
.player1 {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 5%;
  width: 35%;
  height: 88%;
  background-color: #d7d8ed;
  color: #d7d8ed;
}

.player1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-side {
  margin-top: 5px;
  color: #0c0744;
  background-color: #d7d8ed;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  padding: 12px;
  margin-left: 4.5vw;
}
.l-name {
  margin-top: 5px;
  color: #d7d8ed;
  text-align: center;
}

.player2 {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 10%;
  width: 35%;
  height: 88%;
  background-color: #d7d8ed;
  color: #d7d8ed;
}

.player2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r-side {
  margin-top: 5px;
  color: #0c0744;
  background-color: #d7d8ed;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  padding: 12px;
  margin-left: 4.5vw;
}

.r-name {
  margin-top: 5px;
  color: #d7d8ed;
  text-align: center;
}

.result-table-container {
  margin-top: 20%;
  margin-left: 10%;
  width: 80%;
  height: 31%;
  /* background-color: #d7d8ed; */
  padding: 1vh;
}

.score-container{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    background-color: #1D712A;
    border-radius: 1rem;
  

}
.score-line{
font-size: 1vw;
  letter-spacing: 5px;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;  
  height: 4.2vh;
  border-radius: 5px;
  padding-top: 5px;
  
}

.score-board {
  margin-top: 1.75%;
  margin-left: 4%;
  margin-right: 5%;
  width: 60%;
  height: 85%;
  background-color: #338f13;
}

.score-board-up {
  display: flex;
  flex-direction: row;
}

.score-left {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: #0c0744;
  height: 35vh;
  width: 18vw;
  color: #d7d8ed;
  font-size: 20vh;
  padding-left: 3vw;
}

.win-left {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: #0c0744;
  height: 11.5vh;
  width: 6vw;
  color: #d7d8ed;
  font-size: 7vh;
  padding-left: 2vw;
}

.score-right {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: #0c0744;
  height: 35vh;
  width: 18vw;
  color: #d7d8ed;
  font-size: 20vh;
  padding-left: 3vw;
}

.win-right {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: #0c0744;
  height: 11.5vh;
  width: 6vw;
  color: #d7d8ed;
  font-size: 7vh;
  padding-left: 2vw;
}

.swap {
  position: absolute;
  height: 4.6vh;
  width: 3.2vw;
  margin-left: 26vw;
  margin-top: 20vh;
  background-color: #d7d8ed;
  border-radius: 50%;
}

.swap:hover {
  cursor: pointer;
}

.w-shuttle-left {
  position: absolute;
  height: 5vh;
  margin-left: 17vw;
  margin-top: 3vh;
}

.w-shuttle-right {
  position: absolute;
  height: 5vh;
  margin-left: 51vw;
  margin-top: 3vh;
}

.modal-header{
  background: #0b1968e8;
}

.header-modal {
  height: 8vw;
  background-color: #d7d8ed;
  margin-left: 9.7vw;
}

.umisf-logo-modal {
  height: 8vw;
  margin-left: auto;
}

.timer{
  margin-top: -1vw;
    margin-left: 6vw;
    margin-bottom: 1vw;
}

.player-container-modal {
  height: 10vw;
  display: flex;
  flex-direction: row;
}

.player1-modal {
  
  margin-left: 10%;
  margin-right: 5%;
  width: 40%;
  height: 88%;
  background-color: #d7d8ed;
  color: #d7d8ed;
  display: flex;
  flex-direction: row;
}

.player1-img-modal {
  width: 8vw;
  height: 100%;
  object-fit: cover;
}

.player2-modal {
 
  margin-left: 5%;
  margin-right: 10%;
  width: 40%;
  height: 88%;
  background-color: #d7d8ed;
  color: #d7d8ed;
  display: flex;
  flex-direction: row;
}

.player2-img-modal {
  width: 8vw;
  height: 100%;
  object-fit: cover;
}

.l-side-modal {
  margin-top: 1.5vw;
  color: #0c0744;
  width: 2.5vw;
  height: 2.5vw;
  padding: 12px;
  margin-left: 0.5vw;
  font-size: 2.5vw;
  font-weight: bolder;
}

.r-side-modal {
  margin-top: 1.5vw;
  color: #0c0744;
  width: 2.5vw;
  height: 2.5vw;
  padding: 12px;
  margin-left: 0.5vw;
  font-size: 2.5vw;
  font-weight: bolder;
}

.modal-body{
  background-color: #2f302f;
}

.score-container-modal{
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  background-color: #12b72b;
  border-radius: 1rem;
  height: 6.1vw;


}
.score-line-modal{
  font-size: 5.5vw;
    letter-spacing: 5px;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;  
    height: 10vw;
    border-radius: 5px;
    font-weight: bolder;
   
    
  }

  .modal-body-winner{
   
    
  }

  .celeb{
    position: absolute;
    margin-left: 4vw;
    height: 20vw;
    z-index: 1;
  }

  .winner{
    z-index: -1;
    width: 12vw;
    margin-left: 8vw;
    margin-top: 4vw;
  }

  .header-line-container-modal {
    display: flex;
    flex-direction: row;
  }
  
  .header-line-modal {
    font-size: 1.3vw;
    letter-spacing: 5px;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
    font-weight:1000;
  }