.page {
  width: 100%;
  height: 100vh;
}

.header {
  height: 27%;
  background-color: #d7d8ed;
}

.body {
  height: 73%;
  background-color: #0c0744;
  display: flex;
  flex-direction: row;
}

.umisf-logo {
  height: 60%;
  margin-left: 45%;
}

.header-line-container {
  display: flex;
  flex-direction: row;
}

.header-line {
  font-size: 2.5vw;
  letter-spacing: 5px;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
}

.details {
  margin-left: 2%;
  width: 37%;
}

.score-board {
  width: 59%;
}

.player-container {
  height: 40%;
  display: flex;
  flex-direction: row;
}
.player1 {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 5%;
  width: 35%;
  height: 88%;
  background-color: #d7d8ed;
  color: #d7d8ed;
}

.player1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-side {
  margin-top: 5px;
  color: #0c0744;
  background-color: #d7d8ed;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  padding: 12px;
  margin-left: 4.5vw;
}
.l-name {
  margin-top: 5px;
  color: #d7d8ed;
  text-align: center;
}

.player2 {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 10%;
  width: 35%;
  height: 88%;
  background-color: #d7d8ed;
  color: #d7d8ed;
}

.player2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r-side {
  margin-top: 5px;
  color: #0c0744;
  background-color: #d7d8ed;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  padding: 12px;
  margin-left: 4.5vw;
}

.r-name {
  margin-top: 5px;
  color: #d7d8ed;
  text-align: center;
}

.result-table-container {
  margin-top: 20%;
  margin-left: 10%;
  width: 80%;
  height: 31%;
  /* background-color: #d7d8ed; */
  padding: 1vh;
}

.score-container{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    background-color: #1D712A;
    border-radius: 1rem;
  

}
.score-line{
font-size: 1vw;
  letter-spacing: 5px;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;  
  height: 4.2vh;
  border-radius: 5px;
  padding-top: 5px;
  
}

.score-board {
  margin-top: 1.75%;
  margin-left: 4%;
  margin-right: 5%;
  width: 60%;
  height: 85%;
  background-color: #338f13;
}

.score-board-up {
  display: flex;
  flex-direction: row;
}

.score-left {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: #0c0744;
  height: 35vh;
  width: 18vw;
  color: #d7d8ed;
  font-size: 20vh;
  padding-left: 3vw;
}

.win-left {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: #0c0744;
  height: 11.5vh;
  width: 6vw;
  color: #d7d8ed;
  font-size: 7vh;
  padding-left: 2vw;
}

.score-right {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: #0c0744;
  height: 35vh;
  width: 18vw;
  color: #d7d8ed;
  font-size: 20vh;
  padding-left: 3vw;
}

.win-right {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: #0c0744;
  height: 11.5vh;
  width: 6vw;
  color: #d7d8ed;
  font-size: 7vh;
  padding-left: 2vw;
}

.swap {
  position: absolute;
  height: 4.6vh;
  width: 3.2vw;
  margin-left: 26vw;
  margin-top: 20vh;
  background-color: #d7d8ed;
  border-radius: 50%;
}

.swap:hover {
  cursor: pointer;
}

.w-shuttle-left {
  position: absolute;
  height: 5vh;
  margin-left: 17vw;
  margin-top: 3vh;
}

.w-shuttle-right {
  position: absolute;
  height: 5vh;
  margin-left: 51vw;
  margin-top: 3vh;
}

