.team {
  height: 513px;
  width: fit-content;
  padding: 17px;
  align-items: center;
  background-image: url("../../../assests/images/team.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
}


.team-overlay {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  height: 479px;
  padding: 70px;
  text-align: center;
}

.team-title {
  width: 100%;
  text-transform: uppercase;
  color: white;
  overflow: hidden;
  font-family: "Roboto";
  font-size: 50px;
}

.team-description {
  color: white;
  padding: 19vw;
  padding-top: 60px;
  padding-bottom: 0;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  text-shadow: 1.5px 1.5px 6px black;
}

@media screen and (max-width: 900px) {
  .team-description {
    padding: 7vw;
    padding-top: 60px;
    padding-bottom: 0;
    font-size: 15px;
  }

  .team-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .team-description {
    padding: 5vw;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .group-photo img {
    height: 65vw;
    object-fit: scale-down;
  }

  .team-title {
    font-size: 35px;
  }
}
@media screen and (max-width: 425px) {

  .team-description {
    padding: 5vw;
    padding-bottom: 0;
    font-size: 12px;
    padding-top: 30px;
  }
}
