.success-msg-box {
  background: #040924;
  width: 100%;
  height: 100vh;
  font-family: "Hind", sans-serif;
  overflow: auto;
}

.success-msg {
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: top;
  font-family: "Hind";
  width: 30%;
  margin-left: auto;
  padding: 4% 2%;
  padding-bottom: 2%;
  margin-right: auto;
  margin-top: 15%;
  background-color: #2237476c;
  font-size: 65%;
  font-weight: bold;
  color: rgb(255, 251, 251);
}

.success-msg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url('../../../../assests/images/trophy.gif');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 80% 80%;
}

.success-msg button {
  border: none;
  background: #0984e3;
  padding: 2%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.copy-text-container {
  border: 1px solid rgb(170, 166, 166);
  background-color: rgba(0, 0, 0, 0.268);
  margin: 20% 0;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.copy-text {
  flex-basis: 90%;
  font-size: 80%;
  font-family: "Hind";
  padding: 3% 3%;
  position: relative;
  
}

.copy-button {
  flex-basis: 10%;
  border-left: 1px solid rgb(170, 166, 166);
  padding: 2% 3%;
  position: relative;
}

.copy-button button{
  background: transparent;
  border: none;
  position: relative;
}

.conquest-button{
  position: relative;
}
